@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";

.section_background-dc {
    background: url("../img/dc-bg.png");
	padding-bottom: 38px; 
}

.order__want {
    color: white;
    text-align: center;
    font-family: "RobotoCondensedBold";
	font-size: 16px;
	font-weight: 400;
	padding-top: 0px;
	padding-bottom: 8px;
}

.dc-button {
    background: url("../img/dc-button-bg.png");
    width: 210px;
    height: 46px;
	box-sizing: border-box;
	border: none;
	border-radius: 3px;
	font-family: "RobotoCondensedLight";
	font-size: 30px;
	font-weight: 400;
	color: black;
	padding-bottom: 11px;
	margin-left: 10px;
	margin-top: 5px;
}

.order__garant {
    color: white;
    font-family: "RobotoCondensedLight";
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	display: inline-block;	
	padding-top: 5px;
}

.order__garant_text {
	background: url("../img/dc-zamok.png") no-repeat left center;
	padding-left: 15px;
}

.order__form {
    text-align: center;	
}

.order {
    text-align: center;
}


.db-left{
	width: 31px;
	height: 68px;
	display: block;
	background: url('../img/dc-left-arrow.png') no-repeat;
	position: absolute;
	top: 0px;
    left: 30px;
}

.db-right{
	width: 31px;
	height: 68px;
	display: block;
	background: url('../img/dc-right-arrow.png') no-repeat;
	position: absolute;
	    right: 20px;
    top: 0px;
}

.responses {
	text-align: center;
}

.responses__slider_text {
	color: black;
	font-family: "RobotoCondensedRegular";
	font-size: 18px;
	font-weight: 300;
}

.responses__slider_title {
	color: black;
	font-family: "MyriadPro";
	font-size: 24px;
	font-weight: 400;
}

.responses__slider_image {
	
}

#circle {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.43);
}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {

.section_background-dc {
    background: url("../img/dc-bg.png");
	padding-bottom: 38px;
}

.order__want {
    color: white;
    text-align: center;
    font-family: "RobotoCondensedBold";
	font-size: 36px;
	font-weight: 400;
	padding-top: 14px;
	padding-bottom: 14px;
}

.dc-button {
    background: url("../img/dc-button-bg.png");
    width: 210px;
    height: 46px;
	box-sizing: border-box;
	border: none;
	border-radius: 3px;
	font-family: "RobotoCondensedBold";
	font-size: 30px;
	font-weight: 400;
	color: black;
	padding-bottom: 11px;
	margin-left: 10px;
}

.order__garant {
    color: white;
    font-family: "RobotoCondensedLight";
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	margin-top: 15px;
	display: inline-block;	
	padding-top: 5px;
}

.order__garant_text {
	background: url("../img/dc-zamok.png") no-repeat left center;
	padding-left: 15px;
}

.order__form {
    text-align: center;	
}

}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}