.clear{
	clear: both;
}

/*=====comfort====*/
.df-margin{
	text-align: center;	
}
.df-comfort__caption_view{
	display: block;
	text-align: center;
	color:#ff6500;
	margin-bottom: 3px;	
}
.df-comfort_view{
	display: inline-block;
	max-width: 430px;
	width: 100%;
	position: relative;
	padding-bottom: 21px;	//51
}

.df-comfort__before_view, .df-comfort__after_view{
	font-size: 36px;
	color:#fe0000;
	font-family: "RobotoCondensedRegular";
}
.df-comfort__img_view, .df-comfort__img_view2{
	text-align: center;
	padding: 0 15px;
	img{
		display: inline-block;
	}	
}
.df-comfort__text_view{
	span{
		display: block;
		font-size: 24px;
		color:#010101;
		font-family: "RobotoCondensedLight";
		text-align: left;
		background-image: url("../img/df-no.png");
		background-repeat: no-repeat;
		background-position: left top 7px;
		padding:0 0 4px 44px;
	}
}
/*right block*/
.df-comfort__img_view2{
	padding: 0 15px;
}
.df-comfort__after_view{
	color:#1a9d00;
	// top: 97px;
	// left: -48px;
}
.df-comfort__text_2{
	span{
		background-image: url("../img/df-yes.png");
		background-position: left top -3px;
	}
}


/*===========casesocks========*/

.df-view{
	vertical-align: top;
	text-align: center;
	margin: 0 auto;
}
.df-case-caption_view{
	color: #3d3d3d;
	text-align: center;
	display: block;
	margin-bottom: 30px;
}
.df-top-block_view{
	// padding-left: 27px;
	margin-bottom: 20px;//60
	text-align: center;
	span{		
		display: inline-block;
		font-size: 24px;
		color: #3d3d3d;
		font-family: "RobotoCondensedRegular";
		background-image: url("../img/df-bg1.png");
		background-repeat: no-repeat;
		background-position: top center;
		padding-top: 49px;
		// margin-right: 63px;
		margin: 11px 15px;//
	}
}

.df-top-block_view span:nth-child(2){background-image: url("../img/df-bg2.png");}
.df-top-block_view span:nth-child(3){background-image: url("../img/df-bg3.png"); }//margin-left: 46px;
.df-top-block_view span:nth-child(4){background-image: url("../img/df-bg4.png"); }//margin: 0 0 0 46px;

/*block*/
.df-blocksocks_view{
	max-width: 522px;
	display: inline-block;
	width: 100%;
	position: relative;	
	border: 1px solid #dbdbdb;
	// margin: 0px 0 40px 22px;
	margin-bottom: 40px;
}
.df-blocksocks__absolute_view, .df-blocksocks__absolute_view2, .df-blocksocks__absolute_view3, .df-blocksocks__absolute_view4, .df-blocksocks__absolute_view5, .df-blocksocks__absolute_view6{
	font-size: 20px;
	color: #ffffff;
	display: inline-block;
	background-color: #03a8f5;
	font-family: "RobotoCondensedRegular";
	padding: 5px 27px;
	position: absolute;
	top:-15px;
	// left: -20px;
	left: 50%;
	transform: translate(-50%, 0%);
}
.df-blocksocks__absolute_view2{
	background-color: #002a6c;
	padding: 5px 15px;
}
.df-blocksocks__absolute_view3{
	background-color: #823eff;
	padding: 5px 15px;
}
.df-blocksocks__absolute_view4{
	background-color: #1a9d00;
	padding: 5px 15px;
}
.df-blocksocks__absolute_view5{
	background-color: #ffb627;
	padding: 5px 15px;
}
.df-blocksocks__absolute_view6{
	background-color: #016cb5;
	padding: 5px 15px;
}


.df-blocksocks__image_view{
	text-align: center;	
	padding: 55px 15px 14px 15px;
	img{
		display: inline-block;
	}
}

.df-blocksocks__text-block_view{
	background-color: #e0e0e0;
	padding-top: 20px;
	text-align: center;
}
.df-blocksocks__cap_view{
	font-size: 26px;
	color: #333333;
	font-family: "RobotoCondensedLight";
	margin-bottom: 10px;
	padding-left: 16px;
	padding: 0 12px;
	span{
		 font-family: "RobotoCondensedBold";
	}
}
.df-blocksocks__char{
	min-height: 115px;
	text-align: center;
}



.df-blocksocks__characteristics_view, .df-blocksocks__characteristics-text_view{
	font-size: 18px;
	font-family: "RobotoCondensedLight";
	color: #6b6b6b;
	display: block;
	line-height: 22px;
	// margin-left: -21px;
}
.df-blocksocks__inputs_view{
	// margin: 0px 6px 0 0;
	margin: 0px 6px 7px 0;
	width: 105px;
	height: 94px;
	padding-top: 10px;
	display: inline-block;
	background-image: linear-gradient(to top, #b0b0b0 0%, #979797 0%, white 100%);
	span{
		display: block;
		font-size: 20px;
		padding-left: 3px;
		color:#000000;
		font-family: "RobotoCondensedRegular";
	}
}
.df-blocksocks__characteristics-text_view{
	font-size: 14px;
	padding: 1px 55px 0 55px;
	line-height: 18px;
}
/*input type radio*/
.checkbox {
    display: none;
}
.checkbox-custom {
    position: relative;      
    width: 26px;            
    height: 26px;            
    border: 1px solid #cccccc;
    background:none;   
    margin: 0 auto;
    z-index: 1;
    -webkit-box-shadow: inset 4px 5px 4px -2px rgba(#b4b4b4, 0.75);
	-moz-box-shadow: inset 4px 5px 4px -2px rgba(#b4b4b4, 0.75);
	box-shadow: inset 4px 5px 4px -2px rgba(#b4b4b4, 0.75);
}
.checkbox:checked + .checkbox-custom::before {
    content: "";            
    display: block;         
    position: absolute;   
	top: 5px;
	right: 0px;
	bottom: 2px;
	left: 6px;
    background: url("../img/df-input.png") no-repeat;
}
/*end radio*/

.df-blocksocks__price_view{
	display: block;
	font-size: 24px;
	padding: 4px 0 1px 0;
	color:#333333;
	font-family: "RobotoCondensedRegular";
	span{
		font-family: "RobotoCondensedBold";
		color: #ff6500;
	}
}
.df-blocksocks__order_view{
	background-color: #1d1b1f;
	padding: 7px 0 5px 0;
	input{
		width: 205px;
		height: 39px !important;
		margin-right: 5px;
		padding-left: 5px !important;
		border-radius: 0 !important;
	}
	button{
		
		-webkit-background: linear-gradient(top, #ff8100, #ff4b00);
		background: linear-gradient(to bottom, #ff8100, #ff4b00);
		display: inline-block;
		border: none;
		width: 150px;
		padding: 4px 0;
		font-size: 24px;
		color: #ffffff;
		font-family: "RobotoCondensedBold";
		margin: 6px 0;		
<<<<<<< HEAD
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		transition-property: background;
		transition-duration: 1s;
		transition: background 0.5s;		
=======
		transition: all 0.5s;	
>>>>>>> 2a64842267a9ad635816f64dde9d0c6028fb71d8
	}	
}
.df-blocksocks__order_view button:hover{		
		background: linear-gradient(to bottom, #ffc420, #ff7b20);
		-webkit-background: linear-gradient(top, #ffc420, #ff7b20);
<<<<<<< HEAD
		-webkit-transition: background 0.5s;
		-moz-transition: background 0.5s;
		transition-property: background;
		transition-duration: 1s;
		transition: background 0.5s;	
=======
		transition: all 0.5s;	
>>>>>>> 2a64842267a9ad635816f64dde9d0c6028fb71d8
	}



@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	/*comfort*/
	.df-margin{		
		padding-left: 87px;
	}
	.df-comfort__caption_view{
		margin-left: -72px;
		margin-bottom: -16px;	
	}
	.df-comfort_view{		
		padding-bottom: 51px;
	}
	.df-comfort__img_view, .df-comfort__img_view2{	
		padding: 0px 0px 19px 51px;	
		text-align: left;
	}
	.df-comfort__img_view2{
		padding: 17px 0px 3px 77px;
	}
	.df-comfort__before_view, .df-comfort__after_view{		
		position: absolute;
		left: -32px;
		top: 57px;
	}
	.df-comfort__after_view{
		color:#1a9d00;
		top: 97px;
		left: -48px;
	}
	.df-margin-right{
		margin-right: 3px;
	}

	/*============casesocks===========*/
	.df-view{
		vertical-align: top;
		text-align: left;
		margin: 0 auto;
	}
	.df-top-block_view{
		padding-left: 27px;
		margin-bottom: 60px;
		text-align: left;
		span{			
			margin:0;
			margin-right: 63px;
		}
	}

	.df-top-block_view span:nth-child(3){margin-left: 46px; }
	.df-top-block_view span:nth-child(4){margin: 0 0 0 46px;}

	/*block*/
	.col-md-12 .df-blocksocks_view:nth-child(2n+1){margin-right: 35px;}
	.df-blocksocks_view{		
		margin: 0px 0 40px 22px;
	}
	.df-blocksocks__inputs_view{
		margin: 0px 6px 0 0;
	}
	.df-blocksocks__absolute_view, .df-blocksocks__absolute_view2, .df-blocksocks__absolute_view3, .df-blocksocks__absolute_view4, .df-blocksocks__absolute_view5, .df-blocksocks__absolute_view6{
		left: -20px;	
		transform: none;
	}
	.df-blocksocks__image_view{		
		padding: 24px 0 14px 0;
	}
	.df-blocksocks__cap_view{
		padding: 0;
		padding-left: 16px;
	}
	.df-blocksocks__characteristics_view, .df-blocksocks__characteristics-text_view{
		margin-left: -21px;
	}
	.df-blocksocks__order_view{
		padding: 2px 0 4px 0;
	}
	.df-blocksocks__char{
		min-height: 93px;		
	}
	.df-blocksocks__char_2{
		min-height: 117px;
		margin-bottom: 10px;
	}






}

@media only screen and (min-width : 1248px) {
	/*comfort*/
	.df-margin-right{
		margin-right: 105px;
	}
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}