@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style4.css";
@import "fonts.css";


.db-footer{
	background:#3d3d3d;
	color:#fff;
	padding:20px 0;
	font-family:"RobotoCondensedRegular";
	text-align: center;
	font-size:14px;
	.db-footer-ul{
		li{
			padding: 5px 0;
			a{
				color:#fff;
			}
			a:hover{
				color:#ff9700;
			}
		}
	}
}

.section{

	.db-h2{
		text-align: center;
		padding-bottom: 20px;
	}

	
	.db-rezim{
		text-align: center;
		position: relative;
		max-width:300px;
		margin: 0 auto;

		.db-rezim-p1{
			padding-bottom: 10px;
			font-family: "RobotoCondensedRegular"; 
			font-size: 24px;
			color: #333;
		}

		.db-rezim-p2{
			font-size: 20px;
			color:#000;
			font-family: "RobotoCondensedLight";
		}
		.db-img-box1{
			
			position: absolute ;
			top:0;
			left:0;
		}
	}
	
	.db-contacts{
		max-width:300px;
		margin: 0 auto;
		margin-top:20px;
		position:relative;
		text-align: center;
		.db-contacts-p1{
			padding-bottom: 10px;
			font-family: "RobotoCondensedRegular"; 
			font-size: 24px;
			color: #333;
		}
		.db-contacts-p2{
			font-size: 20px;
			color:#000;
			font-family: "RobotoCondensedLight";
		}
		.db-button{
			padding-top:10px;
			font-size: 14px;
			.db-button-db{
				padding: 10px;
				font-size: 18px ;
			}
		}
		.db-img-box2{
			position: absolute;
			top:0;
			left:22px;
		}
	}

}
.section_background-db{
	background: url('../img/db-fon.jpg') no-repeat;
	background-size: cover;
	text-align: center;
}
.center_position-db{
	padding-top:0px !important;
	padding-bottom: 30px;
}
.db-case-content__check{
	
}
.db-case-content__check_view{
	font-family:"RobotoCondensedRegular";
	color:#fff;
	font-size:30px;
	text-transform: uppercase;
	width: 260px;
	margin:0 auto;
 // outline: 1px solid red;
 li{
 	background: url("../img/db-check.png")no-repeat center left;
 	padding-top: 20px;
 	padding-left: 70px;
 	text-align: left;
		// padding-bottom:15px;
	}
}
.db-text_view{
	color:#fff;
	font-family:"RobotoCondensedRegular";
	font-size:20px;
	text-align: center;
	font-weight: 400;
}
.db-case-content__case1{
	padding-bottom: 30px;
	img{
		display: inline-block;
		max-width: 400px;
		height:auto;
	}
}
.db-case-content__case2{
	padding-top: 30px;
	padding-bottom: 30px;
	img{
		max-width: 400px;
		height:auto;
	}
}

.section_pay-view{
	background: url("../img/db-oplata.jpg") no-repeat;
	background-size: cover;
	color:#fff;
}

.db-h2-pay_margin{
	padding-top: 0px;
	color: #ffba00;
	display: block;
	text-align: center;
	padding-bottom: 19px;
	// outline: 1px solid red;
}
.db-ul-pay_view{
	font-size: 20px;
	font-family:"RobotoCondensedRegular";

}
.db-one{
	background: url("../img/db-1.png")no-repeat center left;
	padding-top: 20px;
	padding-left: 50px;
	padding-bottom: 23px;
}
.db-two{
	background: url("../img/db-2.png")no-repeat center left;
	padding-top: 20px;
	padding-left: 50px;
	padding-bottom: 27px;
}
.db-three{
	background: url("../img/db-3.png")no-repeat center left;
	padding-top: 20px;
	padding-left: 50px;
	padding-bottom: 23px;
}
.db-four{
	background: url("../img/db-4.png")no-repeat center left;
	padding-top: 20px;
	padding-left: 50px;
	padding-bottom: 23px;
}
.db-five{
	background: url("../img/db-5.png")no-repeat center left;
	padding-top: 20px;
	padding-left: 50px;
}

.db-orange{
	color: #ffba00;
}

.section-gifts-db-fon{
	font-family: "RobotoCondensedRegular";
	background: url("../img/db-gifts.jpg") no-repeat;
	background-size: cover;
	color:#fff;
	margin-top: 2px;
	text-align: center;
}
.db-center-gifts{
	text-align: center;
	display: block;
	color: #ffba00;
	padding-bottom: 15px;
}
.db-span-view{
	font-size:24px;
	text-transform: uppercase;
	padding-bottom: 35px;
	// outline: 1px solid red;
	display: block;
}
.db-p-view{
	font-size: 18px;
	line-height: 30px;

}



@media only screen and (min-width : 320px) {
	.db-case-content__case1{

		img{

			width: 100%;
			height:auto;
		}
	}
	.db-case-content__case2{

		img{
			width: 100%;
			height:auto;
		}
	}

}

@media only screen and (min-width : 480px) {
	.db-img-box1{
		left:35px !important;
	}
	.db-img-box2{
		left:60px !important;
	}
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.db-container-three{
		padding-top: 50px;
	}
	.db-imgbox-right{
		margin-left:-40px; 
	}
	.db-container-two{
		padding-top:33px;
	}
	.db-block-one{
		padding-top: 70px;
		padding-left: 32px;
	}
	.db-block-two{
		padding-right: 75px;
	}
	.db-block-three{
		padding-top: 50px;
		padding-left: 50px;
	}
	.section-gifts-db-fon{
		text-align: left;
		padding: 45px 0 !important;
	}
	.section_pay-view{
		padding: 45px 0 !important;
	}
	.db-footer{
		
		.db-footer-ul{
			display:table;
			max-width: 1110px;
			margin: 0 auto;
			li{
				display: table-cell;
				padding-left: 20px;
			// outline:1px solid red;

		}
	}
}

.section{

	.db-h2{
		text-align: center;
		padding-bottom: 20px;
		h2{
		padding-top:0 !important;
	}
	}

	
	.db-rezim{
		text-align: left;
		position: relative;
		padding-left: 76px;
		.db-rezim-p1{
			padding-bottom: 2px;
			font-family: "RobotoCondensedRegular"; 
			font-size: 24px;
			color: #333;
		}

		.db-rezim-p2{
			font-size: 20px;
			color:#000;
			font-family: "RobotoCondensedLight";
		}
		.db-img-box1{

			position: absolute ;
			top: 3px;
			left: 38px;
		}
	}
	
	.db-contacts{
		padding-left: 34px;
		margin-top:0px;
		position:relative;
		text-align: left;
		.db-contacts-p1{
			padding-bottom: 0px;
			font-family: "RobotoCondensedRegular"; 
			font-size: 24px;
			color: #333;
		}
		.db-contacts-p2{
			font-size: 20px;
			color:#000;
			font-family: "RobotoCondensedLight";
		}
		.db-button{

			.db-button-db{
				padding: 10px;
				    margin-left: 0px !important; 

			}
		}
		.db-img-box2{
			position: absolute;
			top: 3px;
			left:-4px !important;
		}
	}

}

.section_padding-db{
	padding:40px 0 !important;
}

.db-case-content__case2{
	margin-left: -88px;
	padding-top: 0px;
	padding-bottom: 0px;
	img{
		width:300px;
	}
}

.db-case-content__case1{
	padding-bottom: 8px;
	
}
.db-case-content__check_view{
	margin-top: 63px;
	padding-bottom: 0;
}

}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    // outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}