
/* Шапка
==========================*/

// Top header
.dd-top-header{
	background: url('../img/top-bg.jpg') no-repeat top center;
	background-size:cover;
	width: 100%;
}
.dd-header-top-left{
	padding-top: 18px;
	img{
		margin: 0 auto;
	}
}
.karta-wrap{
	padding-bottom: 37px;
}
.dd-karta{
	background: url('../img/karta.png') no-repeat top center;
	height: 99px;
	text-align:center;
	span{
		color:black;
		display: inline-block;
		// font-size:24px;
		font-size:20px;
		padding-top: 25px;
		font-family: "RobotoBold";
	}
}
.dd-header-top-tel{
	text-align:center;
	.dd-sp1{
		font-family: "RobotoCondensedRegular";
		font-size:30px;
		color:black;
		span{
			font-size:36px;
		}
	}
	.dd-sp2{
		display:inline-block;
		font-family: "RobotoCondensedRegular";
		font-size:18px;
		color:black;
		padding-bottom: 12px;
	}
}
.dd-button-wrap{
	padding-bottom: 25px;
}

// Middle header
.dd-middle-header{
	background: url('../img/top-bg2.png') no-repeat top center;
	background-size: cover;
	width: 100%;
	text-align:center;
	padding: 23px 0px 11px;
	span:first-child{
		// font-size: 60px;
		font-size: 25px;
		color:black;
		font-family: "RobotoCondensedBold";
		display: inline-block;
	}
	.dd-next-span{
		font-family: "RobotoCondensedRegular";
		color:black;
		// font-size: 36px;
		font-size: 20px;
		span{
			font-family: "RobotoCondensedBold";
			color:#FF0000;
			display: inline-block;
			text-transform: uppercase;
		}
	}
}

// Bottom header
.dd-bottom-header{
	background: url('../img/top-bg3.jpg') no-repeat top center;
	width: 100%;
	background-size: cover;
	padding: 25px 0px;
	img{
		margin: 0 auto;
	}
}
.dd-actsia{
	background: url('../img/ac.png') no-repeat top center;
	max-width:324px;
	height: 152px;
	text-align:center;
	padding-top: 11px;
	padding-right: 25px;
	margin: 20px auto;
	span{
		font-family: "RobotoCondensedBold";
		display: inline-block;
		text-transform: uppercase;
		font-size: 48px;
		color:black;
	}
}
.dd-actions{
	background: url('../img/b1.png') no-repeat top center;
	max-width:442px;
	margin: 0 auto;
	height: 90px;
	// padding: 10px 34px;
	padding: 10px 16px;
	position: relative;
	span{
		font-family: "RobotoCondensedRegular";
		display: inline-block;
		color:#fff;
		span{
			color:red;
		}
	}
}
.dd-podarok{
	display:none;
}
.dd-number{
	display:none;
}
.margin{
	margin-bottom: 37px
}

// Таймер
.dd-timer-txt{
	text-align:center;
	span{
		font-family: "RobotoCondensedRegular";
		font-size: 24px;
		color:black;
	}
}
.dd-timer-all-wrap{
	width: 254px;
	text-align: center;
	margin: 0 auto;
	img{
		margin: 0 auto;
	}
	.dd-timer{
		img{
			margin: 0 auto;
		}
		.dd-times{
			.dd-div{
					background:url(../img/time.png) no-repeat center;
					float: left;
					margin-left: 2px;
					width: 60px;
					height: 67px;
					position:relative;
					margin-top: 5px;
					span{
						color:black;
						font-size: 48px;
						font-weight: 500;
						line-height: 15px;
						font-family: "RobotoCondensedRegular";
						padding-left: 0px;
						line-height: 55px;
					}
				}
				.dd-time-txt{
					width: 51px;
					float: left;
					padding-left:13px;
					span{
						font-family: "RobotoCondensedRegular";
						color:black;
						font-size: 16px;
						line-height: 15px;
					}
				}
				.dd-time-txt1{
					padding-left:24px;
				}
				.dd-time-txt2{
					padding-left:34px;
				}
				.dd-time-txt3{
					padding-left:42px;
				}
			}
		}
	}





	@media only screen and (min-width : 320px) {
	}

	@media only screen and (min-width : 480px) {
		.dd-actions{
			padding: 10px 40px;
		}
		.dd-number{
			display: block;
			position:absolute;
			left:-31px;
			top:-18px;
		}
		.dd-podarok{
			display:block;
			position:absolute;
			right:33px;
			top:-23px;
		}
		.position{
			right: 40px;
		}
	}

	@media only screen and (min-width : 768px) {


	}

	@media only screen and (min-width : 992px) {
		.dd-header-top-left{
			text-align:left;
			img{
				margin-left: 0;
			}
		}
		.dd-karta{
			background: url('../img/karta.png') no-repeat top -18px center;
			text-align:left;
			span{
				font-size:24px;
				padding-top: 25px;
				margin-left: -57px;
			}
		}
		.dd-header-top-tel{
			text-align:right;
		}
		.dd-button-wrap{
			padding-bottom: 0px;
		}
		.dd-middle-header{
			span:first-child{
				font-size: 60px;
			}
			.dd-next-span{
				font-size: 36px;
				span{
					font-size: 36px;
			// text-transform: uppercase;
		}
	}
}
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {

}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}